.body{
    background-image: url(https://pbs.twimg.com/profile_images/1084343551553605632/J0pF7gVi_400x400.jpg);
    background-repeat: no-repeat;
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

.overlay-image1{
    position: absolute;
    top: -1%;    
    left: 1px;
    width: 10%; 
    height: 100px;
    margin: 10px;    
}
.overlay-image2{
    position: absolute;
    top: -1%;    
    right: 69%;
    width: 10%; 
    height: 100px;
    margin: 0px;    
}

.overlay-image3{
    position: absolute;
    top: 40%;    
    right: 69%;
    width: 10%; 
    height: 100px;
    margin: 0px;    
}

.overlay-image4{
    position: absolute;
    top: 40%;
    left: 1px;
    width: 10%; 
    height: 100px;
    margin: 10px;    
}

