.container{
    margin: auto;
    border: 2px solid black; 
    border-radius: 10px;
    height: 80vh;
    width: 20%;
    padding: 10px;
    overflow: scroll;
    scrollbar-width: none;
}
.leftmessage{
    text-align: left;
}
.rightmessage{
    text-align: right;
}
.date{
    text-align: center;
    position: sticky;
    top: 20px;
}
span{
    background-color: rgb(253, 229, 201);
    padding: 1px;
}