.translate:hover~img{
    transform: translate(100px);
    transition: 3s;
}
.rotate:hover ~ img{
    transform: rotate(45deg);
    transition: 3s;
}
.scale:hover ~ img{
    transform: scale(1.5);
    transition: 3s;
}
.skew:hover ~ img{
    transform: skewY(20deg);
    transition: 3s;
}
body{
    background-color: rgb(173, 230, 223);
}
img{
    padding-top: 80px;
    padding-left: 80px;
}