.container{
    border: 10px solid rgb(209, 144, 148);
    height: 70vh;
    width: 50vw;
    margin: 100px;
    position: relative;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}   
.image1{
    position: absolute;
    width: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
}
.image2{
    position: absolute;
    width: 20%;
    bottom: -100px;
    left: -100px;
}
.image3{
    position: absolute;
    width: 20%;
    top: -100px;
    left: -100px;
}
.image4{
    position: absolute;
    width: 20%;
    top: -100px;
    right: -100px;
}
.image5{
    position: absolute;
    width: 20%;
    bottom: -100px;
    right: -100px;
}